body {
    font-family: sans-serif;
}

li {
    list-style: url(https://mars.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg);
    margin-left: 40px;
}

.love {
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 40px;
    border-bottom: 5px solid  black;
    border-top: 5px solid  black;
    margin: 10px;
}

h2 {
    color: red;
    margin-left: 35px;
}

footer p {
    color: white;
    background-color: #024C68;
    padding: 20px;
    padding-left: 70px;
}

footer {
    background-color: #024C68;
}

header {
    background-color: #0776A0;
    padding: 25px;
}
